body {background-color: skyblue;}
table th {width: 200px; text-align: left; border: 1px solid #ddd; padding: 8px; color: white; background-color: red;}
table td {width: 200px; text-align: left; border: 1px solid #ddd; padding: 8px;}

#countryinfo tr:not(:first-child):hover {background-color: white; color: blue; font-weight: bold;}

@media screen and (max-width: 400px) {
    #countryList {overflow-x: auto;}
}

@media screen and (min-width: 750px) {
    #frame {display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 0fr 0fr;}
    #myLocation {grid-column: 1; grid-row: 1;}
    #weatherInfo {grid-column: 2; grid-row: 1;}
    #countryList {grid-column: 1/3; grid-row: 2;}
}

#titel {background-color:red; color:white;}

@media screen {
    div { border-collapse: collapse;}
}
